<% @work_categories = WorkCategory.all %>

<% provide(:title, 'New Job') %>

<h1>Create New Job</h1>
<div class="row">
  <div class="span12 offset1">
    <%= render 'job_form', form_action: 'Save' %>
  </div>
</div>

