// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* job#new form */
#new_job tr:nth-child(odd){
  background-color: #eee;
}

#new_job thead tr:nth-child(odd),
#new_job tfoot tr:nth-child(odd){
  background-color: #000;
  color: #fff;
}

#new_job input, #new_job select, td .btn{
  margin: .5em 0;
}

td{
  padding-left: 1em;
  padding-right: 1em;
}

th, tfoot td{
  padding: .5em 0;
}

#new_job table input{
  text-align: right;
}

#new_job table .work-item-amount{
  padding-left: 2em;
}

#new_job table .cost-column{
  text-align: right;
}
#new_job .category-detail{
  text-align: center;
}
  
#new_job .work-item-cost, #job-total-cost{
  text-align: right;
}

#new_job label{
  display: inline-block;
}

.align-right{
  text-align: right;
}

.cost-column{
  padding-right: 1em;
  min-width: 50px;
}
